/pyvenv.cfg
/Scripts/
/Lib/
/Day1/.idea/
/.idea/AdventOfCode.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
*.csproj
*.sln
/Day2/.vs
/Day2/bin
/Day2/obj
*.xml
*.iml
*.class
Day4/Day4/out/
